<style></style>

<div class="position-relative mb-5" style="height: 40vw;">
  <div class="position-absolute z-3" style="top: 35%; left: 5%;">
    <h1 class="display-3">
      {{_('I\'m Full stack Developer /')}}
    </h1>
    <h6 class="fw-lighter fst-italic">
      {{_('* this website compatible for desktop')}}
    </h6>
  </div>

  <div class="position-absolute z-3 end-0">
    <h1 class="display-3">
      {{_('FULL STACK')}}
    </h1>
    <h1 class="display-3">
      {{_('FULL STACK')}}
    </h1>
    <h1 class="display-3">
      {{_('FULL STACK')}}
    </h1>
    <h1 class="display-3">
      {{_('FULL STACK')}}
    </h1>
    <h1 class="display-3">
      {{_('FULL STACK')}}
    </h1>
    <h1 class="display-3">
      {{_('FULL STACK')}}
    </h1>
    <h1 class="display-3">
      {{_('FULL STACK')}}
    </h1>
    <h1 class="display-3">
      {{_('FULL STACK')}}
    </h1>
    <h1 class="display-3">
      {{_('FULL STACK')}}
    </h1>
  </div>

  <div class="position-absolute top-0 end-0" style="width: 60%;">
    <img
      src="/static/assets/images/bg-header.png"
      alt=""
      class="w-100 float-right"
    />
  </div>
</div>
