{% extends "common/_base.html" %} {% include "common/cursor.html" %} {% block
content %} {% include "main/aboutme.html" %}
<div class="container mt-5">
  <div id="experience-section">
    {% include "main/experience.html" %}
  </div>
</div>

<div class="container mt-5">
  <div class="p-5" id="skill-section">
    {% include "main/skill.html" %}
  </div>

  <div
    id="system-architecture-section"
    class="me-3 ms-3"
    style="margin-top: 10rem;"
  >
    {% include "main/system-architecture.html" %}
  </div>
</div>

<div id="work-section">
  {% include "main/work.html" %}
</div>
{% include "main/want-to-up.html" %} {% include "main/marquee-header.html" %}
{%endblock%}
