<style media="screen">
  :root {
    --color-text: #6c757d;
    --color-bg-accent: #212529;
    --size: clamp(5rem, 0.5rem + 20vmin, 15rem);
    --gap: calc(var(--size) / 14);
    --duration: 60s;
    --scroll-start: 0;
    --scroll-end: calc(-100% - var(--gap));
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-text: #6c757d;
      --color-bg-accent: #212529;
    }
  }

  .marquee {
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    mask-image: linear-gradient(
      var(--mask-direction, to right),
      hsl(0 0% 0% / 0),
      hsl(0 0% 0% / 1) 20%,
      hsl(0 0% 0% / 1) 80%,
      hsl(0 0% 0% / 0)
    );
  }

  .marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll-x var(--duration) linear infinite;
  }

  @media (prefers-reduced-motion: reduce) {
    .marquee__group {
      animation-play-state: paused;
    }
  }

  .marquee--reverse .marquee__group {
    animation-direction: reverse;
    animation-delay: -3s;
  }

  @keyframes scroll-x {
    from {
      transform: translateX(var(--scroll-start));
    }
    to {
      transform: translateX(var(--scroll-end));
    }
  }

  @keyframes scroll-y {
    from {
      transform: translateY(var(--scroll-start));
    }
    to {
      transform: translateY(var(--scroll-end));
    }
  }

  .marquee img {
    display: grid;
    place-items: center;
    width: 150px;
    height: 150px;
    fill: var(--color-text);
    background: var(--color-bg-accent);
    aspect-ratio: 16/9;
    padding: calc(var(--size) / 5);
    border-radius: 0.5rem;
    filter: grayscale(100%);
  }

  @media screen and (max-width: 1023px) and (min-width: 768px) {
    .marquee img {
      padding: calc(var(--size) / 4);
    }
  }

  @media screen and (max-width: 768px) {
    .marquee img {
      padding: calc(var(--size) / 2);
    }
  }

  /* Parent wrapper */
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin: auto;
    max-width: 100vw;
  }

  .wrapper--vertical {
    flex-direction: row;
    height: 100vh;
  }

  @keyframes fade {
    to {
      opacity: 0;
      visibility: hidden;
    }
  }
</style>

<article class="wrapper mb-5">
  <div class="marquee">
    <div class="marquee__group">
      {%for icon in all_icons%}
      <img src="/static/data/main/{{icon}}" />

      {%endfor%}
    </div>

    <div aria-hidden="true" class="marquee__group">
      {%for icon in all_icons%}
      <img src="/static/data/main/{{icon}}" />

      {%endfor%}
    </div>
  </div>

  <div class="marquee marquee--reverse">
    <div class="marquee__group">
      {%for icon in all_icons%}
      <img src="/static/data/main/{{icon}}" />

      {%endfor%}
    </div>

    <div aria-hidden="true" class="marquee__group">
      {%for icon in all_icons%}
      <img src="/static/data/main/{{icon}}" />

      {%endfor%}
    </div>
  </div>
</article>
