<style media="screen">
  .spacer {
    width: 100vw;
    height: 0.5vw;
    background-color: #fff;
    display: flex;

    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-top: -2vw;
    margin-bottom: 3vw;
    animation: spacer-show 0.25s 2.7s linear forwards,
      spacer-loading 2.5s 0.5s ease-in-out forwards;
  }

  @keyframes spacer-loading {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes spacer-show {
    0% {
      height: 0.5vw;
    }

    100% {
      height: 3vw;
    }
  }

  .spacer > h1 {
    color: #14151a;
    width: 100vw;
    font-size: 4em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

  .imageWrapper {
    width: 14%;
    position: absolute;
    background-color: transparent;
    left: 5%;
    margin-bottom: 7%;
    animation: open_anim 0.3s 3.3s linear forwards;
    opacity: 0;
  }

  .imageWrapper::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("https://i.postimg.cc/85VDf3QR/pink-and-purple-wallpaper-1616403.jpg")
      0 0 no-repeat;
    background-size: cover;
    opacity: 0.05;
    animation: glitch-image 0.4s infinite;
  }

  @keyframes glitch-image {
    0% {
      background-position: 0 0;
      filter: hue-rotate(90deg);
    }

    20% {
      background-position: -1px 0;
    }

    40% {
      background-position: 2px 0;
    }

    60% {
      background-position: -4px 0;
    }

    80% {
      background-position: 4px 4px;
    }

    100% {
      background-position: 0 0;
      filter: hue-rotate(360deg);
    }
  }

  div.imageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .spacer:nth-child(even) {
    background-color: #fff;
  }
</style>

<style media="screen">
  @media (max-width: 767px) {
    .spacer {
      display: none;
    }
  }

  @media screen and (max-width: 1023px) and (min-width: 768px) {
    .spacer {
      display: none;
    }
  }
</style>

<section class="spacer">
  <h1 id="scrollingText" class="fw-bold">
    Experience: 3+ yrs | Coding: 13+ yrs | Passion: dev |
  </h1>
</section>

<script src="https://unpkg.co/gsap@3/dist/gsap.min.js"></script>
<script src="https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js"></script>

<script type="text/javascript">
  window.addEventListener("DOMContentLoaded", function () {
    setTimeout(function () {
      gsap.registerPlugin(ScrollTrigger);

      let tl2 = gsap.timeline();
      tl2.to("#scrollingText", {
        x: -1000,
        duration: 120,
        repeat: -1,
        ease: "linear",
      });
    }, 4000); // 2000 milliseconds (2 seconds) delay
  });
</script>
