<style media="screen">
  .spacer {
    width: 100vw;
    height: 10vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10vw;
    margin-top: -3vw;
  }

  .spacer > h1 {
    position: absolute;
    color: transparent;
    width: 300vw;
    font-size: 4em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }

  .spacer h2 {
    font-family: "Raleway";
    font-weight: 900;
    font-size: 3em;
    color: white;
  }

  .imageWrapper {
    width: 17%;
    position: absolute;
    background-color: transparent;
    overflow: hidden;
    left: 5%;
    margin-top: 0%;
  }

  .imageWrapper::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("https://i.postimg.cc/85VDf3QR/pink-and-purple-wallpaper-1616403.jpg")
      0 0 no-repeat;
    background-size: cover;
    opacity: 0.1;
    animation: glitch-image 0.4s infinite;
  }

  @keyframes glitch-image {
    0% {
      background-position: 0 0;
      filter: hue-rotate(90deg);
    }

    20% {
      background-position: -1px 0;
    }

    40% {
      background-position: 2px 0;
    }

    60% {
      background-position: -4px 0;
    }

    80% {
      background-position: 4px 4px;
    }

    100% {
      background-position: 0 0;
      filter: hue-rotate(360deg);
    }
  }

  div.imageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .spacer:nth-child(even) {
    background-color: #121212;
  }
</style>

<section class="spacer">
  <h1 id="scrollingText" class="fw-bold">
    HELLO WORLD IS VERY EASY FOR HIRE ME
  </h1>
  <div class="imageWrapper glitch_scrolling_marquee">
    <img
      src="
    /static/assets/images/profile-pink.png
"
    />
  </div>
</section>

<script src="https://unpkg.co/gsap@3/dist/gsap.min.js"></script>
<script src="https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js"></script>

<script type="text/javascript">
  window.addEventListener("DOMContentLoaded", function () {
    setTimeout(function () {
      gsap.registerPlugin(ScrollTrigger);

      let tl2 = gsap.timeline();
      tl2.to("#scrollingText", {
        x: 1000,
        duration: 50,
        repeat: -1,
        ease: "linear",
      });

      let tl = gsap.timeline();
      tl.to("#scrollingText", {
        xPercent: 5,
        scrollTrigger: {
          trigger: "#scrollingText",
          scrub: 1,
        },
      });
    }, 4000); // 2000 milliseconds (2 seconds) delay
  });
</script>

<script type="text/javascript">
  /*!
   * mgGlitch : little jquery helper to glitch everything
   * (c) 2016 Hadrien Mongouachon
   * MIT Licensed.
   *
   * Author URI: http://hmongouachon.com
   * Plugin URI: http://hmongouachon.com
   * Date : 06/2016
   * Version: 1.0.0
   */

  !(function (t, e, s, i) {
    "use strict";
    function n(e, s) {
      (this.element = e),
        (this.settings = t.extend({}, a, s)),
        (this._defaults = a),
        (this._name = r),
        this.init();
    }
    var r = "mgGlitch",
      a = {
        destroy: !1,
        glitch: !0,
        scale: !0,
        blend: !0,
        blendModeType: "hue",
        glitch1TimeMin: 600,
        glitch1TimeMax: 900,
        glitch2TimeMin: 10,
        glitch2TimeMax: 115,
        zIndexStart: 5,
      };
    t.extend(n.prototype, {
      init: function () {
        this.glitch();
      },
      glitch: function () {
        function e(t, e) {
          return Math.floor(Math.random() * (e - t + 1)) + t;
        }
        function s() {
          var i = e(10, 1900),
            n = 9999,
            a = e(10, 1300),
            o = 0,
            h = e(0, 16),
            f = e(0, 16),
            d = e(c, l);
          t(r).css({
            clip: "rect(" + i + "px, " + n + "px, " + a + "px," + o + "px)",
            right: f,
            left: h,
          }),
            setTimeout(s, d);
        }
        function i() {
          var s = e(10, 1900),
            n = 9999,
            c = e(10, 1300),
            l = 0,
            f = e(0, 40),
            d = e(0, 40),
            m = e(o, h);
          if (a === !0) var x = (Math.random() * (1.1 - 0.9) + 0.9).toFixed(2);
          else if (a === !1) var x = 1;
          t(r)
            .next()
            .css({
              clip: "rect(" + s + "px, " + n + "px, " + c + "px," + l + "px)",
              left: f,
              right: d,
              "-webkit-transform": "scale(" + x + ")",
              "-ms-transform": "scale(" + x + ")",
              transform: "scale(" + x + ")",
            }),
            setTimeout(i, m);
        }
        function n() {
          var s = e(10, 1900),
            i = 9999,
            c = e(10, 1300),
            l = 0,
            f = e(0, 40),
            d = e(0, 40),
            m = e(o, h);
          if (a === !0) var x = (Math.random() * (1.1 - 0.9) + 0.9).toFixed(2);
          else if (a === !1) var x = 1;
          t(r)
            .next()
            .next()
            .css({
              clip: "rect(" + s + "px, " + i + "px, " + c + "px," + l + "px)",
              left: f,
              right: d,
              "-webkit-transform": "scale(" + x + ")",
              "-ms-transform": "scale(" + x + ")",
              transform: "scale(" + x + ")",
            }),
            setTimeout(n, m);
        }
        var r = this.element,
          a = this.settings.scale,
          c = this.settings.glitch1TimeMin,
          l = this.settings.glitch1TimeMax,
          o = this.settings.glitch2TimeMin,
          h = this.settings.glitch2TimeMax,
          f = this.settings.zIndexStart;
        if (this.settings.destroy === !0)
          (t(r).hasClass("el-front-1") ||
            t(r).hasClass("front-3") ||
            t(r).hasClass("front-2")) &&
            t(".front-1, .front-2, .front-3").remove(),
            t(".back").removeClass("back");
        else if (this.settings.destroy === !1) {
          var d = t(r).clone();
          if (
            (d.insertBefore(r).addClass("back").css({ "z-index": f }),
            this.settings.blend === !0)
          ) {
            var d = t(r).clone();
            d
              .insertAfter(r)
              .addClass("front-3")
              .css({
                "z-index": f + 3,
                "mix-blend-mode": this.settings.blendModeType,
              }),
              n();
          }
          if (this.settings.glitch === !0) {
            var d = t(r).clone();
            d
              .insertAfter(r)
              .addClass("front-2")
              .css({ "z-index": f + 2 }),
              t(".back")
                .next()
                .addClass("front-1")
                .css({ "z-index": f + 1 }),
              s(),
              i();
          }
        }
      },
    }),
      (t.fn[r] = function (t) {
        return this.each(function () {
          new n(this, t);
        });
      });
  })(jQuery, window, document);

  $(function () {
    $(".glitch_scrolling_marquee").mgGlitch({
      destroy: false,
      glitch: true,
      scale: false,
      blend: true,
      blendModeType: "hue",
      glitch1TimeMin: 40,
      glitch1TimeMax: 300,
      glitch2TimeMin: 80,
      glitch2TimeMax: 100,
      glitch3TimeMin: 500,
      glitch3TimeMax: 1500,
      glitch4TimeMin: 270,
      glitch4TimeMax: 700,
      zIndexStart: 2,
    });
  });
</script>
